@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --primary-1: #b9e6d3;
  --primary-2: #feffea;
  --primary-3: #00BFA6;
  --primary-4: #fa7481;
  --primary-5: #f2f2f2;
  --primary-6: #df3d4d;
  --grey-1: #333;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
  --spacing: 1px;
  --fixed-width: 620px;
  --max-width: 1170px;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Condensed', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--primary-5);
  color: var(--grey-1);
}