@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200&family=Poppins:wght@300;400;700&display=swap');

:root {
  --primary-1: #2eb872;
  --primary-2: #feffea;
  --primary-3: #a3de83;
  --primary-4: #ff5d6e;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
  --fixed-width: 620px;
  --max-width: 1170px;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f9f9f9;
  color: var(--grey-1);
}